[submodule "builds/libretro/libretro-common"]
	path = builds/libretro/libretro-common
	url = https://github.com/libretro/libretro-common
[submodule "lib/liblcf"]
	path = lib/liblcf
	url = https://github.com/easyrpg/liblcf
